.menu {
    width: 100%;
    height: 60px;
    background-color: red;
    color: rgb(0, 0, 0);
}

body { margin: 0; }
#sidebar, #content { position: absolute; } 
#sidebar, #content { overflow: auto; padding: 10px; }
#header {
    position: relative;
    width: 500px;
    height: auto; /* Высота слоя */
    background: white; border-bottom: 2px solid #7B5427;
}
#header h1 { padding: 20px; margin: 0; }

.text {
    position: absolute;
    width: 80%;
    left: 10%;
    height: auto;
    border: 1px solid #231F20;
}

#sidebar { 
    width: 25%; background: #ECF5E4; border-right: 1px solid #231F20;
}

#content {
    width: 75%;
    left: 25%; /* Расстояние от левого края */ 
}

.container-fluid {
    position: relative;
    left: 25%;
}
