{% extends "base.html" %}
{% load  review_tags %}
{% load static %}
{% block title %}Профиль{% endblock %}
{% block style %}
    <link href="{% static "account/CSS/profile.css" %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <div class = "container">
        <div id = "user_sidebar">
            {% if request.user.is_authenticated %}
                <div id="sidebar">
                    <img src = "https://avatarfiles.alphacoders.com/112/112888.jpg" width = "150px">
                    <p>{{ request.user.username }}</p>
                    <a href = "#">Настройки</a>
                    <br>
                    <a href = "#">Выйти</a>
                </div>
            {% else %}
                <div id="sidebar">
                    <p>no</p>
                </div>
            {% endif %}
        </div>
        <div id = "review_option">
            {% get_review user.id as review %}
            
            <a href = "/new/{{user.id}}">Добавить отзыв<img src = "https://res.cloudinary.com/djx4fzf78/image/upload/v1638466912/image/document_add_256_icon-icons.com_75994_bkyfkv.png" width = "20px"></img></a>

            <br>
            <table class="table table-hover">
                <tr class="table-dark">
                    <td colspan="3">Ваши отзывы</td>
                </tr>
                {% for elem in review %}
                    <tr>
                        <td><a href = "/{{elem.id}}">{{elem.review_title}}</a></td>
                        <td><a href = "/new/{{elem.id}}/update/"><img src = "https://res.cloudinary.com/djx4fzf78/image/upload/v1638463840/image/notes_115548_bds0ec.png" width = "20px"></img></a></td>   
                        <td><a href = "/new/{{elem.id}}/delete/"><img src ="https://res.cloudinary.com/djx4fzf78/image/upload/v1638464176/image/Adblock_stop_delete_delete_exit_7057_qgqy1g.png" width = "20px"></img></a></td>          
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    

{% endblock %}
