{% extends 'base.html' %}
{% load static %}
{% block title %}{{review.review_title}}{% endblock %}
{% block content %}
    <h1>{{review.review_title}}</h1>
    <p>{{review.review_text}}</p>

    {% if request.user.is_authenticated %}
        {% if comment_list %}
            {% for elem in comment_list %}
            <p>
                <strong>{{elem.author_name}}</strong>
                <p>{{elem.comment_text}}</p>
            </p>
            {% endfor %}
        {% else %}
            Комментарии не найдены. Станьте первым.
        {% endif %}
        <form action="{% url 'reviews:leave_comment' review.id %}" method = "POST">
        
        {% csrf_token %}

        <input type="hidden" required placeholder = "Ваше имя" name="name" value = {{ request.user.username }}><br>
        <textarea name="text" required="" placeholder="Текст комментария" cols="30" rows="10"></textarea><br>

        <button type="submit">Оставить комментарий</button>
    
        </form>
    {% else %}
        Чтобы читать и оставлять комментарии необходимо войти в аккаунт
    {% endif %}
{% endblock %}