{% extends 'base.html' %}
{% load static %}
{% block title %}{{review.review_title}}{% endblock %}
{% block style %}
<link href="{% static "reviews/CSS/css.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "reviews/CSS/star.css" %}" rel="stylesheet" type="text/css">
{% endblock  %}
{% block content %}
    
    <span><h3>{{review.review_title}}</h3></span>
    <span><i>Дата публикации: {{review.pub_date}}</i></span>
    <br>
    
    
    <div class = "star">
        <form>
            <div class="raiting rating_set">
                <div class="raiting_body">
                    <div class="raiting_active"></div>
                        <div class="raiting_items" id="test" onmouseout="start_raiting()">
                            <input type="radio" onclick="pushRait()" onmouseover="initRatings(1)" class="raiting_item" value="1">
                            <input type="radio" onclick="pushRait()" onmouseover="initRatings(2)" class="raiting_item" value="2">
                            <input type="radio" onclick="pushRait()" onmouseover="initRatings(3)" class="raiting_item" value="3">
                            <input type="radio" onclick="pushRait()" onmouseover="initRatings(4)" class="raiting_item" value="4">
                            <input type="radio" onclick="pushRait()" onmouseover="initRatings(5)" class="raiting_item" value="5">
                        </div>
                    <div class="raiting__value" id="rating_value">4</div>
                </div>
            </div>
        </form>
    </div>

    <div class = like> 
        <div id="result_form">{{review.readers.count}}</div>
        <a href = "#"><img src = "https://res.cloudinary.com/djx4fzf78/image/upload/v1638103252/image/like_l1lge1.png" width="30px"></img></a>
    </div>     
    
    <form action = 'http://127.0.0.1:8000/like/add/', method = "post", id = "ajax_form">
        {% csrf_token %}
        <input type = "hidden", name = 'review_id' value = {{review.id}}>
        <input type = "hidden", name = 'user_id' value = {% if request.user.is_authenticated %}{{request.user.id}}{% else %}None{% endif %}>
        <button type="submit" id = "btn" class = "block"></button>
    </form>
     
    <br> 
    <p>{{review.review_text}}</p>
        
    <p><img src = "https://res.cloudinary.com/djx4fzf78/image/upload/v1638006554/{{review.image}}" width = "200px"></img></p>
    
    <p>{{request.user.is_authenticated}}</p>
    <p>{{request.user.id}}</p>

    <button type="submit" onclick = "createtask({{review.id}}, {{request.user.id}})">send</button>

    {% if request.user.is_authenticated %}
        {% if comment_list %}
            {% for elem in comment_list %}
            <p>
                <strong>{{elem.author_name}}</strong>
                <p>{{elem.comment_text}}</p>
            </p>
            {% endfor %}
        {% else %}
            Комментарии не найдены. Станьте первым.
        {% endif %}
        <form action="{% url 'reviews:leave_comment' review.id %}" method = "POST">
        
        {% csrf_token %}

        <input type="hidden" required placeholder = "Ваше имя" name="name" value = {{ request.user.username }}><br>
        <textarea name="text" required="" placeholder="Текст комментария" cols="30" rows="10"></textarea><br>
        
        <button type="submit">Оставить комментарий</button>
    
        </form>
    
        <script>
            $( document ).ready(function() {
                $("#btn").click(
                    function(){
                        sendAjaxForm('result_form', 'ajax_form', 'http://127.0.0.1:8000/like/add/');
                        return false; 
                    }
                );
            });     
            
            function createtask(review_id, user_id) {
                const promise = axios.post('http://127.0.0.1:8000/like/add/',
                {
                    review_id: review_id,
                    user_i: user_i
                })
            }

            function pushRait() {

                alert(check)
            }

            function sendAjaxForm(result_form, ajax_form, url) {
            $.ajax({
                url:     url, //url страницы (action_ajax_form.php)
                type:     "POST", //метод отправки
                dataType: "html", //формат данных
                data: $("#"+ajax_form).serialize(),  // Сеарилизуем объект
                success: function(response) { //Данные отправлены успешно
                    result = $.parseJSON(response);
                    $('#result_form').html(result.like_count);
                },
                error: function(response) { // Данные не отправлены
                    $('#result_form').html('Ошибка. Данные не отправлены.');
                }
            });
            }
        </script>
    
    {% else %}
        Чтобы читать и оставлять комментарии необходимо войти в аккаунт
    {% endif %}

    <script src="{% static "reviews/JS/like.js" %}" type="text/javascript"></script>
    <script type="text/javascript" src = "{% static "reviews/JS/star.js" %}"></script>
{% endblock %}