{% extends 'base.html' %}
{% load markdown_extras %}
{% load review_tags %}
{% load static %}
{% block title %}Последние отзывы{% endblock %}
{% block style %}
<link href="{% static "reviews.CSS.star.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "base/CSS/index.css" %}" rel="stylesheet" type="text/css">   
{% endblock  %}
{% block content %}
   {% if list_categoru %}
   <div class="">
      {% menu_categoru as menu %}
      
      <div class = "navigtion">
         {% for elem in menu %}

            <div class = "categoru">
               <a href = "/reviews/categoru/{{elem}}">{{elem}}</a>
            </div>
         
         {% endfor %}

        {% for elem in list_categoru %}
            {{elem}}
            <br>
        {% endfor %}

      </div>
      {% for elem in list_categoru %}
            {% like elem.id as like %}
            {% star elem.id as star %}
            <div class="col">
               <div class="card">
                 <img src="https://res.cloudinary.com/djx4fzf78/image/upload/v1638006554/{{elem.image}}" class="card-img-top">
                 <div class="card-body">
                   <h5 class="card-title"><a href = "/{{elem.id}}">{{elem.review_title}}</a></h5>

                           <p>
                              Автор: {{elem.author_name}} | 
                              Оценка автора: {{elem.rait}} / 10 | 
                              Кол-во лайков: 
                              {% if like == None %}
                                 0
                              {% else %}
                                 {{ like }}
                              {% endif %}
                           </p>
                     
                           <div class = "star">
                              <form>
                                 <div class = "raiting rating_set">
                                    <div class = "raiting_body">
                                       <div class = "raiting_active" style = "width:50%"></div>
                                       <div class = "raiting_items" id = "test">
                                          <input type = "radio" class = "raiting_item" value = "1">
                                          <input type = "radio" class = "raiting_item" value = "1">
                                          <input type = "radio" class = "raiting_item" value = "1">
                                          <input type = "radio" class = "raiting_item" value = "1">
                                          <input type = "radio" class = "raiting_item" value = "1">
                                          
                                          <div class = "raiting__value" id = "rating_value">
                                            {% if star == None %}
                                                0
                                            {% else %}
                                                {{ star }}
                                            {% endif %}
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </form>
                           </div>
                           <p>{{elem.review_text | markdown | safe}}</p>
                 </div>
               </div>
             </div>

      {% endfor %}
   </div>
   <script type="text/javascript" src = "{% static "reviews/JS/star.js" %}"></script>
   {% else %}
      Статьи не найдены
   {% endif %}
{% endblock %}