{% extends 'base.html' %}
{% load static %}
{% block title %}Последние отзывы{% endblock %}
{% block style %}
<link href="{% static "reviews.CSS.star.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "base/CSS/index.css" %}" rel="stylesheet" type="text/css">   
{% endblock  %}
{% block content %}
   {% if reviews_list %}
      {% for elem in a %}
         <div class = "Post">
            <h5><a href = "{{elem.id}}">{{elem.review_title}}</a></h5>
            <div class = "review">
               <img src = "https://res.cloudinary.com/djx4fzf78/image/upload/v1638006554/{{elem.image}}" class = "image"></img>
               <p>
                  Автор: {{elem.author_name}} | 
                  Оценка автора: {{elem.rait}} / 10 | 
                  Кол-во лайков: 
                  {% if elem.like__sum == None %}
                     0
                  {% else %}
                     {{ elem.like__sum }}
                  {% endif %}
               </p>

               <div class = "star">
                  <form>
                     <div class = "raiting rating_set">
                        <div class = "raiting_body">
                           <div class = "raiting_active" style = "width:{{elem.star_len}}"></div>
                           <div class = "raiting_items" id = "test">
                              <input type = "radio" class = "raiting_item" value = "1">
                              <input type = "radio" class = "raiting_item" value = "1">
                              <input type = "radio" class = "raiting_item" value = "1">
                              <input type = "radio" class = "raiting_item" value = "1">
                              <input type = "radio" class = "raiting_item" value = "1">
                              
                              <div class = "raiting__value" id = "rating_value">{{elem.star}}</div>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
               <hr>
               <p>{{elem.review_text}}</p>
            </div>
         </div>
         <hr>
      {% endfor %}
   {% else %}
      Статьи не найдены
   {% endif %}
   <script type="text/javascript" src = "{% static "reviews/JS/star.js" %}"></script>
{% endblock %}