{% extends 'base.html' %}
{% load static %}
{% block title %}Последние отзывы{% endblock %}
{% block style %}
   <link href="{% static "base/CSS/index.css" %}" rel="stylesheet" type="text/css">
{% endblock  %}
{% block content %}
   {% if reviews_list %}
      {% for elem in reviews_list %}
         <div class = "Post">
            <h5><a href = "{{elem.id}}">{{elem.review_title}}</a></h5>
            <div class = "review">
               <img src = "https://res.cloudinary.com/djx4fzf78/image/upload/v1638006554/{{elem.image}}" class = "image"></img>
               <p>Автор: {{elem.author_name}} | Оценка автора: {{elem.rait}} / 10 | Кол-во лайков: {{elem.readers.count}}</p>
               <p>{{elem.review_text}}</p>
            </div>
         </div>
         <hr>
      {% endfor %}
   {% else %}
      Статьи не найдены
   {% endif %}
{% endblock %}