{% extends 'base.html' %}
{% load static %}
{% block title %}Последние отзывы{% endblock %}
{% block content %}
   <form action = "#" method = "POST">
        <p>Название</p><input type = 'text'>
        <p>Фото на обложку</p><input type = 'file'>
        <p>Фото</p><input type = 'file' name="photo" multiple accept="image/*,image/jpeg,image/png">
        <p>Текст отзыва</p><input type = 'text'>
        <p>Дата публикации</p><input type = 'date'>
        <p>Дата публикации</p><input type = 'time'>
        <p><input type="submit"></p>
   </form>
{% endblock %}