{% extends 'base.html' %}
{% load static %}
{% block title %}Редактирование отзыва{% endblock %}
{% block navigati %}
    {% if request.user.is_authenticated %}
        <div id="sidebar">
            <img src = "https://avatarfiles.alphacoders.com/112/112888.jpg" width = "150px">
            <p>{{ request.user.username }}</p>
            <a href = "#">Настройки</a>
            <br>
            <a href = "#">Выйти</a>
        </div>
    {% else %}
        <div id="sidebar">
            <p>no</p>
        </div>
    {% endif %}
{% endblock %}
{% block content %}
   {% if request.user.is_authenticated %}
    {% if form.author_name.value == request.user.id %}
        <form action = '' method = "POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Категория отзыва</p>
            {{ form.categoru }}<br>
            <p>Оценка автора</p>
            {{ form.rait }}<br>
            <p>Название</p>
            {{ form.review_title }}<br>
            <p>Превью Текст</p>
            {{ form.prev_text }}<br>
            <p>Текст отзыва</p>
            {{ form.review_text }}<br>
            <p>Фото на обложку</p>
            {{ form.image }}<br>
            <p>Дата публикации</p>
            {{ form.pub_date }}<br>       
            <p><input type="submit" class = "btn btn-outline-success"></p>
        </form>
    {% else %}
        <h3>Вы пытаетесь совершить подозрительное действие для которого у вас недостаточно прав!!!</h3>
        <center>
            <img src = "https://res.cloudinary.com/djx4fzf78/image/upload/v1638776910/image/mne-kazhetsya-ili-frai-futurama_60089001_orig__prwbbe.jpg" width = "50%"></img>
        </center>
    {% endif %}
      
   {% else %}
      <p>Для возможности создания отзыва необходимо войти в аккаунт</p>
      <p><button type="submit" class = "btn btn-outline-success"></button></p>
   {% endif %}   

   
{% endblock %}