.image {
    width: 200px;
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}

/* Настройки для темной темы */
body {
    background: rgb(45, 40, 48);
    
}

a {
    text-decoration: none;
    color: #198754;
}

a:hover {
    color: #5a2970;
}

p {
    color: rgb(218, 218, 218);
}

hr {
    color: aliceblue;
}