/* Настройки для темной темы rgb(45, 40, 48 */
body {
    background: rgb(45, 40, 48);
    
}

a {
    text-decoration: none;
    color: #198754;
}

a:hover {
    color: #5a2970;
}

p {
    color: rgb(36, 36, 36);
}

hr {
    color: rgb(36, 36, 36);
}


.navigation {
    position: relative;
    width: 100%;
    float: left;
}

/* Настройка карточек */
.card {
    position: relative;
    float: left;
    width: 40%;
    margin: 30px;
    display: inline-block;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
