.menu {
    position: relative;
    margin: 10px;
    width: 80%;
    left: 10%;
    background-color: rgb(218, 218, 218);
    color: rgb(0, 0, 0);
}


#logo, #search, #login { position: relative; display:inline-block;}
#logo {
    float: left;
    width: 40%;
}

#search{
    float: left;
    width: 40%;
}

#login{
    float: left;
    width: 20%;
}

body { margin: 0; }
#sidebar, #content { position: absolute; } 
#sidebar, #content { overflow: auto;}
#header {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto; /* Высота слоя */
}
#header h1 { padding: 20px; margin: 0; }

.text {
    position: absolute;
    width: 80%;
    left: 10%;
    height: auto;
    border: 1px solid #231F20;
}

#sidebar { 
    width: 25%; background: #ECF5E4;
}

#content {
    width: 75%;
    left: 25%; /* Расстояние от левого края */ 
}

.container-fluid {
    position: relative;
    left: 25%;
}
